.catalog {
  min-height: 100vh;
  padding-top: 2em;
  padding-bottom: calc(#{$space-small} + #{$catalog-list-margin});

  .catalog__list {
    padding: 0;
    margin: $catalog-list-margin 0;
    li {
      display: inline-block;
    }
  }
}
