.catalog {
  min-height: 100vh;
  padding-top: 2rem;
  padding-bottom: calc(#{$space-small} + #{$catalog-list-margin});
}

.catalog__list {
  padding: 0;
  margin-left: $catalog-list-margin 0;

  li {
    display: inline-block;
    width: calc((100% / var(--num-cards-per-row)) - var(--card-margin) - 10px);
    margin-left: calc(var(--card-margin) / 2);
    margin-right: calc(var(--card-margin) / 2);
    margin-bottom: var(--card-margin);
  }
}
