.checkout {
  min-height: 100vh;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-top: 0;
  }

  button {
    width: 100%;
  }

  form {
    width: 90%;
    min-width: 250px;
    max-width: 800px;
    padding: $space-med;
  }

  &__success {
    width: 90%;
    padding: 1rem;
    border-radius: $card-border-radius;
    background-color: #4ac06d;
    color: #0e5022;

    a {
      color: inherit;
    }
  }
}
