@mixin button {
  border: $btn-border-size solid;
  border-radius: $btn-border-radius;
  padding: $btn-padding;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.btn-add-to-cart {
  @include button;
  color: $font-color-primary;
  background-color: $font-color-secondary;
  border-color: $font-color-primary;

  &:hover {
    background-color: $secondary-color-darken-1;
  }
}

.btn-remove,
.btn-reload {
  @include button;
  color: $font-color-secondary;
  background-color: $font-color-primary;
  border-color: $font-color-primary;
}
