.btn {
  border: $btn-border-size solid;
  border-radius: $btn-border-radius;
  padding: $btn-padding;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.btn--add-to-cart {
  color: $font-color-primary;
  background-color: $font-color-secondary;
  border-color: $font-color-primary;

  &:hover {
    background-color: $secondary-color-darken-1;
  }
}

.btn--remove,
.btn--reload {
  color: $font-color-secondary;
  background-color: $font-color-primary;
  border-color: $font-color-primary;
}

.btn--checkout {
  background-color: $checkout-btn-color;
  border-color: $checkout-btn-color;
  color: $font-color-secondary;

  &:hover {
    background-color: $checkout-btn-color-dark;
    border-color: $checkout-btn-color-dark;
  }
}
