.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $font-color-primary;
  padding: 15px 45px;
  color: $font-color-secondary;

  &__logo {
    color: $font-color-secondary;
    font-size: 22px;
    font-weight: bold;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &__right-content {
    display: flex;

    a {
      font-size: 18px;
    }
  }

  &__cart-icon {
    color: $font-color-secondary;
    font-size: 18px;
    margin-right: 5px;
  }

  &__cart-quantity {
    font-size: 12px;
    user-select: none;
    pointer-events: none;
  }
}
