@mixin spinner($color, $size, $line_thickness) {
  display: inline-block;
  width: $size;
  height: $size;
  border-radius: 50%;
  border: $line-thickness solid transparent;
  border-top: $line-thickness solid scale-color($color, $lightness: 10%);
  border-bottom: $line-thickness solid scale-color($color, $lightness: 10%);
  animation: spin 1s infinite linear;
}

.spinner-normal {
  @include spinner($font-color-primary, 35px, 4px);
}

.spinner-small {
  @include spinner($font-color-primary, 25px, 4px);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
