* {
  box-sizing: border-box;
}

:root {
  --num-cards-per-row: 4;
  --card-margin: 16px;

  @media screen and(max-width: 1080px) {
    --num-cards-per-row: 3;
  }

  @media screen and(max-width: $screen-med) {
    --num-cards-per-row: 2;
  }

  @media screen and(max-width: 460px) {
    --num-cards-per-row: 1;
  }
}

a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

body {
  background-color: $secondary-color-darken-1;

  @media screen and(min-width:$screen-med) {
    overflow: auto !important;
  }
}
